In [1]:
import pandas as pd
df=pd.read_csv("resources/matrix-ebc-paper-sparse.tsv",sep=('\t'))
df.head()

    (rc-160,igf-i)  0       [nsubj, reduced, dobj]  1861  1.0
0  (tnf-r2,tnf-r1)  1            [dep, factor, nn]  1091  1.0
1  (tnf-r2,tnf-r1)  1            [appos, i, appos]  3557  1.0
2  (tnf-r2,tnf-r1)  1    [pobj, to, dep, to, pobj]  4371  1.0
3  (tnf-r2,tnf-r1)  1     [appos, receptor, appos]  4771  1.0
4  (tnf-r2,tnf-r1)  1  [amod, expression, prep_of]  5362  1.0

In [2]:
df.rename(columns = {'(rc-160,igf-i)':"drug-gene", '0':'row indicies','[nsubj, reduced, dobj]':'dependency path','1861':"column indices",'1.0':"certainty"},inplace = True)
df.iloc[0] = ['(rc-160,igf-i)',0,'[nsubj, reduced, dobj]',1861 ,1.0]
df.head()

,drug-gene,row indicies,dependency path,column indices,certainty
0,"(rc-160,igf-i)",0,"[nsubj, reduced, dobj]",1861,1.0
1,"(tnf-r2,tnf-r1)",1,"[appos, i, appos]",3557,1.0
2,"(tnf-r2,tnf-r1)",1,"[pobj, to, dep, to, pobj]",4371,1.0
3,"(tnf-r2,tnf-r1)",1,"[appos, receptor, appos]",4771,1.0
4,"(tnf-r2,tnf-r1)",1,"[amod, expression, prep_of]",5362,1.0

In [3]:
df.dtypes

drug-gene           object
row indicies         int64
dependency path     object
column indices       int64
certainty          float64
dtype: object

In [4]:
newdf=df[['drug-gene']].copy()
newdf.head()

         drug-gene
0   (rc-160,igf-i)
1  (tnf-r2,tnf-r1)
2  (tnf-r2,tnf-r1)
3  (tnf-r2,tnf-r1)
4  (tnf-r2,tnf-r1)

In [5]:
newdf.drop_duplicates(subset =['drug-gene'],
                     keep = "first", inplace = True)

newdf.head()

             drug-gene
0       (rc-160,igf-i)
1      (tnf-r2,tnf-r1)
7   (tiludronate,vegf)
8        (il-11,il-10)
14         (il-2,il-5)

In [6]:
newdf['drug-gene'] = newdf['drug-gene'].str.replace(',', '/')
newdf.head()

             drug-gene
0       (rc-160/igf-i)
1      (tnf-r2/tnf-r1)
7   (tiludronate/vegf)
8        (il-11/il-10)
14         (il-2/il-5)

In [7]:
newdf.reset_index(inplace = True)

newdf.head()

   index           drug-gene
0      0      (rc-160/igf-i)
1      1     (tnf-r2/tnf-r1)
2      7  (tiludronate/vegf)
3      8       (il-11/il-10)
4     14         (il-2/il-5)

In [8]:
newdf=newdf.drop(['index'],axis=1)
newdf.head()

            drug-gene
0      (rc-160/igf-i)
1     (tnf-r2/tnf-r1)
2  (tiludronate/vegf)
3       (il-11/il-10)
4         (il-2/il-5)

In [9]:
newdf1=df[['dependency path','column indices']].copy()
newdf1=newdf1.sort_values(by = 'column indices')
newdf1.head()

                                         dependency path  column indices
17532  [prep_with, treatments, prep_to, resistant, ns...               0
3229   [prep_with, treatments, prep_to, resistant, ns...               0
2353                         [nsubj, interfere, prep_by]               1
28922                        [nsubj, interfere, prep_by]               1
12658                        [nsubj, interfere, prep_by]               1

In [10]:
newdf1.drop_duplicates(subset =['dependency path'],
                     keep = "first",inplace = True)


newdf1=newdf1.drop(['column indices'],axis=1)
newdf1.head()

                                         dependency path
17532  [prep_with, treatments, prep_to, resistant, ns...
2353                         [nsubj, interfere, prep_by]
27751                             [infmod, patients, nn]
1886      [nsubj, interacts, prep_with, receptor, appos]
24786          [nn, administration, prep_to, mice, amod]

In [11]:
newdf1.reset_index(inplace = True)
newdf1.head()

   index                                    dependency path
0  17532  [prep_with, treatments, prep_to, resistant, ns...
1   2353                        [nsubj, interfere, prep_by]
2  27751                             [infmod, patients, nn]
3   1886     [nsubj, interacts, prep_with, receptor, appos]
4  24786          [nn, administration, prep_to, mice, amod]

In [12]:
newdf1=newdf1.drop(['index'],axis=1)
newdf1.head()

                                     dependency path
0  [prep_with, treatments, prep_to, resistant, ns...
1                        [nsubj, interfere, prep_by]
2                             [infmod, patients, nn]
3     [nsubj, interacts, prep_with, receptor, appos]
4          [nn, administration, prep_to, mice, amod]

In [13]:
data = [newdf, newdf1]

df1 = pd.concat(data, axis=1)
df1.head()

            drug-gene                                    dependency path
0      (rc-160/igf-i)  [prep_with, treatments, prep_to, resistant, ns...
1     (tnf-r2/tnf-r1)                        [nsubj, interfere, prep_by]
2  (tiludronate/vegf)                             [infmod, patients, nn]
3       (il-11/il-10)     [nsubj, interacts, prep_with, receptor, appos]
4         (il-2/il-5)          [nn, administration, prep_to, mice, amod]

In [14]:
df1.shape

(14052, 2)

In [15]:
cxy_df=pd.read_csv("cXY.csv")
new_data = [df1, cxy_df]

df2 = pd.concat(new_data, axis=1)
df2

,drug-gene,dependency path,Unnamed: 0,Drug-Gene Pair Cluster,Dependency Path Cluster
0,(rc-160/igf-i),"[prep_with, treatments, prep_to, resistant, ns...",0,28.0,55.0
1,(tnf-r2/tnf-r1),"[nsubj, interfere, prep_by]",1,0.0,10.0
2,(tiludronate/vegf),"[infmod, patients, nn]",2,18.0,0.0
3,(il-11/il-10),"[nsubj, interacts, prep_with, receptor, appos]",3,0.0,64.0
4,(il-2/il-5),"[nn, administration, prep_to, mice, amod]",4,0.0,95.0
...,...,...,...,...,...
14047,(canertinib/erbb),NaN,14047,22.0,NaN
14048,(saha/ctcl),NaN,14048,8.0,NaN
14049,(tamoxifen/kallikrein),NaN,14049,14.0,NaN
14050,(delavirdine/cyp3a),NaN,14050,9.0,NaN
14051,(propafenone/cyp1a2),NaN,14051,21.0,NaN

In [16]:
df2=df2.drop(['Unnamed: 0'],axis=1)
df2

,drug-gene,dependency path,Drug-Gene Pair Cluster,Dependency Path Cluster
0,(rc-160/igf-i),"[prep_with, treatments, prep_to, resistant, ns...",28.0,55.0
1,(tnf-r2/tnf-r1),"[nsubj, interfere, prep_by]",0.0,10.0
2,(tiludronate/vegf),"[infmod, patients, nn]",18.0,0.0
3,(il-11/il-10),"[nsubj, interacts, prep_with, receptor, appos]",0.0,64.0
4,(il-2/il-5),"[nn, administration, prep_to, mice, amod]",0.0,95.0
...,...,...,...,...
14047,(canertinib/erbb),NaN,22.0,NaN
14048,(saha/ctcl),NaN,8.0,NaN
14049,(tamoxifen/kallikrein),NaN,14.0,NaN
14050,(delavirdine/cyp3a),NaN,9.0,NaN
14051,(propafenone/cyp1a2),NaN,21.0,NaN

In [ ]:
# saving the dataframe
df2.to_csv('Pair_Path_Mapping.csv')